<section class="card">
  <div class="card_img">
    <img src="https://firebasestorage.googleapis.com/v0/b/proyectos-web-565ae.appspot.com/o/viaje%20de%20los%20colibries.jpg?alt=media&token=c96ca44d-2691-4a6f-a46d-da9bb63c8654"/>
  </div>
  <div class="card_info">
    <p>El viaje de los colibries</p>
    <p>Aventuras de una chica viajera</p>
    <p>Zue surita</p>
    <div class="card_ranking">
      <img  src="../assets/icons/ranking32x.png"/>
      <img  src="../assets/icons/ranking32x.png"/>
      <img  src="../assets/icons/ranking32x.png"/>
    </div>
    <p>$350.00</p>
    <button type="button" class="card_button">Agregar a Carrito</button>
  </div>
</section>