.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #e128a3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header_image{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.header_image img{
  width: 100%;
}

.header_menu{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.header_menu li a{
  text-decoration: none;
  font-weight: 500;
  color:  #000;
}

.header_menu li a:hover{
  color: #fff;
}